<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required #username="ngModel" placeholder="username"/>
          <div class="alert-danger" *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors">Username is required</div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required #password="ngModel" placeholder="password"/>
          <div class="alert-danger" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors">Password is required</div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="passwordConf">Confirm password</label>
          <input type="password" class="form-control" name="passwordConf" [(ngModel)]="form.passwordConf" required minlength="6" #passwordConf="ngModel" placeholder="confirm password"/>
          <div class="alert-danger" *ngIf="f.submitted && passwordConf.invalid">
            <div *ngIf="passwordConf.errors">Password is required</div>
            <div *ngIf="password!==passwordConf"> Password & Confirm Password does not match.</div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="form.name" required #name="ngModel" placeholder="name"/>
          <div class="alert-danger" *ngIf="f.submitted && name.invalid">
            <div *ngIf="name.errors">Name is required</div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="surname">Surname</label>
          <input type="text" class="form-control" name="surname" [(ngModel)]="form.surname" required #surname="ngModel" placeholder="surname"/>
          <div class="alert-danger" *ngIf="f.submitted && surname.invalid">
            <div *ngIf="surname.errors">Surname is required</div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" placeholder="email"/>
          <div class="alert-danger" *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors">Email is required</div>
          </div>
        </div>
  
  
        <div class="form-group">
          <button class="btn btn-primary btn-block">Confirm registration</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div>
  